<html ng-app="redis">
  <head>
    <title>Guestbook</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="controllers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
  </head>
  <body ng-controller="RedisCtrl">
    <div style="width: 50%; margin-left: 20px">
      <h2>PyramidCorp</h2>
      <h2>$weepstakesly</h2>
    <form>
    <fieldset>
    <input ng-model="email" placeholder="Email" class="form-control" type="text" name="email"><br>
    <input ng-model="accountno" placeholder="Bank Account #" class="form-control" type="text" name="accountno"><br>
    <button type="button" class="btn btn-primary" ng-click="controller.onRedis()">Submit</button>
    </fieldset>
    </form>
    <div>
      <div>
        {{redisResponse}}
      </div>
      <div>
        {{count}} entries received so far!
      </div>
    </
    </div>
  </body>
</html>
